.main {
  //   max-width: 800px;
  //   padding-top: 20px;
  //   height: 100%;
  background-image: url("../images_css/main_bg.jpg");
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  &__content {
    height: 100%;
    max-width: 100%;
    width: 1380px;
  }
}
